/* SVG styling */


svg {
    font: 10px sans-serif;
    padding: 10px;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
}

.frame {
    fill: none;
    stroke: #aaa
}


.axis line {
    stroke: #ddd;
}