/* SVG styling */


svg {
  font: 10px sans-serif;
}

.radial {
  cursor: pointer;
}

.graphContainer {
  position: relative;
  width: 700px;
  height: 700px;
}

canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

  .axis path {
    display: none;
  }

.frame {
  fill: none;
  stroke: #aaa;
}

.axis line {
  stroke: #ddd;
  stroke-width: 1;
}

/*TRELLIS styling*/

rect.cell {
  fill: none;
  stroke: #aaa;
}

rect.extent {
  fill: #000;
  fill-opacity: .125;
  /*stroke: #fff;*/
}

.infoBox {
  position: absolute;
  width: 250px;
  height: auto;
  padding: 10px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
  pointer-events: none;
  z-index: 5;
}

  .infoBox dl.dl-horizontal > dt {
    text-align: left;
    width: 130px;
  }

  .infoBox dl.dl-horizontal > dd {
    margin-left: 140px;
  }

  .infoBox dl > dd > ul {
    list-style: square;
  }
