/* SVG styling */


svg {
    font: 10px sans-serif;
    /*padding: 10px;*/
}

/*.trellis {*/
    /*width: 700px;*/
    /*height: 700px;*/
    /*position: relative;*/
/*}*/

/*.radial {*/
    /*width: 700px;*/
    /*height: 700px;*/
    /*position: relative;*/
/*}*/

.graphContainer {
    position: relative;
    width: 700px;
    height: 700px;
}

canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
}

.frame {
    fill: none;
    stroke: #aaa;
}

.axis line {
    stroke: #ddd;
}

/*TRELLIS styling*/

.circle {
    opacity: 0.5;
}

circle.selected {
    /*fill: black;*/
    opacity: 1;
}

circle.faded {
    fill: lightgrey;
    opacity: 0.5;
}

circle.hover {
    opacity: 1;
    cursor: pointer;
}

rect.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

path.arcs {
    stroke: #fff;
}

path.selected {
    opacity: 1;
    fill: 'yellow';
    stroke: #000;
}

path.faded {
    opacity: 0.5;
}

/*.circle:hover {*/
    /*opacity: 1;*/
    /*cursor: pointer;*/
/*}*/