<div class="infoBox" ng-class="{hidden: pointedCluster === null}" ng-style="{left: tooltipX, top:tooltipY}">
  <div class="arrow"></div>
  <h3 class="popover-title">Cluster info</h3>
  <div class="popover-content">
    <dl class="dl-horizontal">
      <dt>Id</dt>
      <dd>{{pointedCluster.id}}</dd>
      <dt>Total items count</dt>
      <dd>{{pointedCluster.totalItemsCount}}</dd>
    </dl>
    <dl>
      <dt>Most frequent text values</dt>
      <dd>
        <ul>
          <li ng-repeat="propertyName in pointedCluster.commonTextProperties">{{propertyName}}: <em>{{pointedCluster.topTextValues[propertyName]}}</em></li>
        </ul>
      </dd>
      <dt>Average numeric values</dt>
      <dd>
        <ul>
          <li ng-repeat="propertyName in pointedCluster.commonNumericProperties">{{propertyName}}: <em>{{pointedCluster.averageNumericValues[propertyName] | number}}</em></li>
        </ul>
      </dd>
    </dl>
  </div>
</div>