<div class="infoBox" ng-class="{hidden: pointedCluster === null}" ng-style="{left: tooltipX, top:tooltipY}">

    <h3>Cluster! Cluster! Obey your master!!</h3>

    <p><b>Id:</b> {{pointedCluster.id}}</p>
    <p><b>Total items count:</b> {{pointedCluster.totalItemsCount}}</p>

    <h4>Most frequent text values:</h4>
    <ul ng-repeat="propertyName in pointedCluster.commonTextProperties">
        <li><b>{{propertyName}}</b> : {{pointedCluster.topTextValues[propertyName]}}</li>
    </ul>

    <h4>Average numeric values:</h4>
    <ul ng-repeat="propertyName in pointedCluster.commonNumericProperties">
        <li><b>{{propertyName}}</b>: {{pointedCluster.averageNumericValues[propertyName]}}</li>
    </ul>

</div>