<div class="row">

    <div class="col-md-12">

        <h1>Hello world</h1>

        <input id="depthInput" type="number" ng-model="maxDepth"/>
        <label for="depthInput">Max depth</label>


        <div d3-radial class="radial graphContainer" data-display-depth="maxDepth">

        </div>

        <div d3-trellis class="trellis graphContainer">

        </div>

        <div id="list" ng-controller="clustersListCtrl">

            <h3>Items ({{allItems.length}})</h3>

            <p>{{commonTextProperties.length}}</p>
            <p>{{commonNumericProperties.length}}</p>
            <!--<ul ng-repeat="item in allItems">-->
                <!--<li ng-class="{selected: item.isSelected()}" ng-click="itemClick(item)">{{item.isSelected()}}</li>-->
            <!--</ul>-->

        </div>

    </div>

</div>

<!--<div id="trellis">-->

<!--</div>-->

<!--<div id="radial">-->

<!--</div>-->

