<div class="col-md-12">
  <div ng-hide="!isBusy" class="spinner">
    <div class="centered">
      <span class="label label-default">Loading...</span>
    </div>
  </div>
  <div ng-hide="isBusy">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group col-md-9">
            <label for="maxDepth" class="control-label">Max depth</label>
            <input id="maxDepth" type="range" max="{{maxDepth}}" min="1" ng-model="displayDepth" class="form-control" title="{{displayDepth}}" />
          </div>
          <div class="form-group col-md-3">
            <label for="maxDepth" class="control-label">Mode</label>
            <select class="form-control" ng-model="mode">
              <option value="animation">Animation</option>
              <option value="lens">Lens</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!--<div d3-radial class="radial graphContainer" data-display-depth="displayDepth" data-use-lens="useLens"></div>-->
        <div d3-polygon-radial class="radial graphContainer" data-display-depth="displayDepth" enable-fisheye="true"></div>

        <div d3-trellis class="trellis graphContainer"> </div>
      </div>
    </div>
  </div>
</div>

